body {
    background-image: linear-gradient(to bottom right, rgb(82, 80, 80), black);
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
}

#main_title {
    font-size: 3em;
    text-shadow: 2px 4px black;
}

#interaction_container {
    margin-top: 45vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: left;
    margin: auto;
    background-color: #246eb9;
    padding: 2em;
    margin-bottom: 2em;
    color: black;
    box-shadow: 3px 6px black;
    border-radius: 2%;
}

#zip {
    margin-bottom: .5em;
    font-size: 1em;
}

#feelings {
    font-size: 1em;
    margin-bottom: 1em;
    outline-color: gray;
    height: 10vh;
}

#generate {
    width: 7em;
    padding: .15em;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
    box-shadow: 1px 2px gray;
    outline: none;
    margin: auto;
}

#generate:hover {
    background-color: pink;
}

#generate:active {
    background-color: pink;
}

#generate:focus {
    border: black;
}

#entryHolder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f06543;
    padding: 1em;
    width: 30vw;
    margin: auto;
    justify-content: flex-start;
    font-size: 18px;
}

#date {
    font-size: 1.25em;
    margin-top: .5em;
}

#city {
    font-size: 1.25em;
}

#weather_text {
    font-size: 1.75em;
    margin-top: 5vh;
}

#temp {
    font-size: 3em;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#weather {
    font-size: 1.5em;
}

#content {
    margin-top: 1em;
    flex-wrap: wrap;
    text-align: left;
}