body {
    background-image: linear-gradient(to bottom right, rgb(82, 80, 80), black);
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#main_title {
    font-size: 3em;
    text-shadow: 2px 4px black;
}

#interaction_container {
    margin-top: 45vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: left;
    margin: auto;
    background-color: #246eb9;
    padding: 2em;
    margin-bottom: 2em;
    color: black;
    box-shadow: 3px 6px black;
    border-radius: 2%;
}

#zip {
    margin-bottom: .5em;
    font-size: .95em;
    outline-color: #4cb944;
    font-family: monospace, times, serif;
}

#feelings {
    font-size: .95em;
    margin-bottom: 1em;
    outline-color: #4cb944;
    height: 10vh;
    font-family: monospace, times, serif;
}

#generate {
    width: 7em;
    padding: .15em;
    background-color: white;
    border-radius: 5%;
    box-shadow: 1px 3px black;
    outline: none;
    margin: auto;
    outline-color: #4cb944;
}

#generate:hover {
    background-color: rgb(165, 162, 162);
}

#generate:active {
    background-color: pink;
}

#entryHolder {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f06543;
    padding: 1em;
    width: 30vw;
    margin: auto;
    justify-content: flex-start;
    font-size: 18px;
    box-shadow: 3px 6px black;
    text-shadow: 1px 1.5px black;
    border-radius: 2%;
}

#date {
    font-size: 1.25em;
    margin-top: .5em;
}

#city {
    font-size: 1.25em;
}

#weather_text {
    font-size: 1.75em;
    margin-top: 8vh;
}

#temp {
    font-size: 3em;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#weather {
    font-size: 1.5em;
}

#content {
    margin-top: 1em;
    flex-wrap: wrap;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    #interaction_container {
        margin-top: 45vh;
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: left;
        margin: auto;
        background-color: #246eb9;
        padding: 2em;
        margin-bottom: 2em;
        color: black;
        box-shadow: 3px 6px black;
        border-radius: 2%;
    }
    #entryHolder {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: #f06543;
        padding: 1em;
        width: 70vw;
        font-size: 14px;
        margin: auto;
        justify-content: flex-start;
        box-shadow: 3px 6px black;
        text-shadow: 1px 1.5px black;
        border-radius: 2%;
    }
    #generate:hover {
        background-color: white;
    }
}